body {
    height: 100%;
    margin: 0%;
    background-image: url(/componentes/Imagem/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Caviar;
}

header {
    text-align: center;
}

header > * {
    display: inline-block;
    vertical-align: middle;
}

.Search {
    position: absolute;
    top: 3%;
    left: 4%;
    background-color: #ffffff;
    height: 30px;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SearchBar {
    background: none;
    border: none;
    outline: none;
    padding: 0px;
    color: #000000;
    font-size: 13px;
    line-height: 30px;
    width: 0px;
    transition: 0.5s;
    cursor: pointer;
}

.imgLupe {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.Search:hover > .SearchBar {
    width: 200px;
}
.Search:hover > .imgLupe {
    background-color: #add8e6;
}

nav {
    position: absolute;
    top: 4%;
    left: 30%;
    font-family: RedHands;
}

nav ul a {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #303052;
    transition: .3s;
}

nav ul li {
    display: inline-block;
    margin-right: 70px;
    margin-left: 30px;
}

.Início:hover{
    color: #3134d1;
    text-decoration: underline;
}
.Serviços:hover{
    color: #3134d1;
}
.Sobre:hover{
    color: #3134d1;
}
.Contato:hover{
    color: #3134d1;
}

.Login {
    display: inline-block;
    position: absolute;
    top: 5%;
    right: 2%;
    justify-content: center;
    align-items: center;
    color: #282bcf;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border: #282bcf solid 1px;
    font-size: 18px; 
    font-weight: bold;
    text-decoration: none;
    margin-left: 1200px;
    margin-right: 30px;
    transition: .5s;
}

.Login:hover {
    color: #ffffff;
    border-color: #ffffff;
}

main {
    display: flex;
    position: absolute;
    top: 26%;
    left: 27%;
}


.title {
    font-family: RedHands;
    font-size: 40px;
    text-align: center;
    color: #292945;
    line-height: 20px;
    font-weight: 200;
}

.readMore a {
    display: flex;
    align-items: center;
    position: absolute;
    left: 40%;
    text-decoration: none;
    height: 30px;
    font-family: RedHands;
    font-size: 16px;
    color: #ffffff;
    background-color: #292945;
    border: 1px solid;
    border-radius: 30px;
    padding: 15px;
    margin-top: 40px;
    transition: 0.5s;
}

.readMore a:hover {
    background-color: #4a4b5a;
}


